body {
  font-family: garamond; times
  }

span {
  font-weight: bold
}

.main_card {
  padding: 1%;
  border: 2px solid grey;
  border-radius: 15px;
  box-shadow: 1px 2px 2px 1px grey;
  width: 320px;
}

.card_title {
  padding-left: 3%;
}

.card_picture {
  margin-left: 3%;
  width: 90%;
  border: 6px solid black;
}

.card_description {
  border: 1px solid black;
  margin: 3%;
  padding: 3%;
  width: 87%;
}

.card_fact {
  font-style: italic;
}

ul {
  list-style: none;
  padding-left: 0%;
}
